<footer>
	<div class="logo">Helix</div>
	<div class="divider"></div>
	<a href="https://nebulouscloud.github.io/helix/manual/00-getting-started.md.html">Get Started</a>
	<a href="https://nebulouscloud.github.io/helix/">Documentation</a>
	<a href="https://discord.gg/2AutUcF">Discord</a>
	<a href="{{ .Site.BaseURL }}">Plugins</a>
</footer>

<script type="text/javascript" src="/js/filesaver.min.js"></script>
<script type="text/javascript" src="/js/jszip.min.js"></script>
<script type="text/javascript" src="/js/gitzip.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
